{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

<div class="g-contentcubes">
    {% if particle.title %}<h2 class="g-title">{{ particle.title|raw }}</h2>{% endif %}

    {% if particle.items %}
        <div class="cube-items-wrapper">

            {% for item in particle.items %}
                <div class="item image-position-{{ item.imageposition }} cube-row g-grid">
                    <div class="g-block size-100 hovereffect">
                        {% if item.image %}
                            <div class="cube-image-wrapper {{ particle.css.class }}">
                            <a href="/t/thong-tin-homestay">
                                <img  src="{{ url(item.image)|e }}" alt="{{ item.title|e }}" class="cube-image img-responsive" />
                            </a>
                                <div class="overlay">
                                <h2>{% if item.label %}
                                        <div class="item-label">{{ item.label|e }}</div>
                                    {% endif %}
    
                                <div class="item-title">
                                    {% if item.link %}
                                    <a  class="item-link {{ item.buttonclass|e }}" href="/">  </a>
                                        {% endif %}
                                        <a href="/t/thong-tin-homestay">
                                        {{ item.title|e }}
                                    </a>
                                        {% if item.link %}
                                        <span class="item-link-text">{{ item.linktext|raw }}</span>
                                  
                                    {% endif %}
                                </div>
                                </h2>
                                <p>
                                        <a href="#">{% if item.tags %}
                                                <div class="item-tags">
                
                                                    {% for tag in item.tags %}
                                                        <span class="tag">
                                                            <a target="{{ tag.target|default('_self')|e }}" href="{{ tag.link|e }}">
                                                                {% if tag.icon %}<i class="{{ tag.icon }}"></i> {% endif %}
                                                                {{ tag.text|raw }}
                                                            </a>
                                                        </span>
                                                    {% endfor %}
                
                                                </div>
                                            {% endif %}</a>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                  
                </div>
            {% endfor %}

        </div>
    {% endif %}
</div>

{% endblock %}
{% block javascript_footer %}
<script type="text/javascript">
    $(".cube-image").click(function() {
          window.location="http://localhost/t/thong-tin-homestay";
        });
   
 </script>
{% endblock %}